{%extends 'base.html'%} {%load static%} {%block title%} Change password
{%endblock%} {%block content%}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'accounts/changePassword.css' %}"
/>
<div class="row">
  <h2>Change your password here :</h2>
  <div class="col-md-8 col-sm-10 col-12">
    <form method="POST">
      {% csrf_token %} {{ form.as_p }}
      <div class="action">
        <button type="submit" class="btn btn-success">Change</button>
        <a href="{%url 'staff:profile'%}">Cancel</a>
      </div>
    </form>
  </div>
</div>
{%endblock%}
