.container{
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #53ecbb;
    padding: 30px;
    
}
.subContainer{
  display: flex;
  justify-content: flex-end;
}
.subContainer div{
  margin-left: 15px;
}
.action{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    
  }
  .action button{
    padding: 5px;
    border-radius: 5px;
    border:1px solid rgba(23, 56, 222,0.3);
    animation-duration: 2s;
    box-shadow: 1px 2px 1px 1px rgba(23, 56, 222,0.3);
    color: rgb(71, 70, 70);
  }
  .action button:hover{
    background-color: rgb(247, 7, 179);
    color:white;
    cursor: pointer;
  }