.row{
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #53ecbb;
    padding: 30px;
    margin-left: 25%;
    margin-top: 5%;
  }
  .action{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    
  }
  .action button{
    padding: 5px;
    border-radius: 5px;
    border:1px solid rgba(23, 56, 222,0.3);
    animation-duration: 2s;
    box-shadow: 1px 2px 1px 1px rgba(23, 56, 222,0.3);
  }
  .action button:hover{
    background-color: rgb(247, 7, 179);
    cursor: pointer;
  }
  input[type="text"],
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
  }
  input[type="password"],
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
  }
  input[type="email"],
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
  }
  .errorlist {
    color: red;
  }