<!DOCTYPE html>
<head>
  <style>
    h1 {
      color: red;
    }
    .container {
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .container h1 {
      font-size: 100px;
      margin: 0px;
    }
    .container h2 {
      margin: 0px;
    }
  </style>
</head>
<html>
  <title>Wrong address</title>
  <body>
    <div class="container">
      <h1>404</h1>
      <h2>Not Found</h2>
      <p>I cannot find the file you requested!</p>
    </div>
  </body>
</html>
